$bg-color: rgb(232, 241, 248);
$text-color: rgb(83, 83, 83);
$primary-color: #457b9d;
$secondary-color: #a8dadc;
$light-green: #95d5b2;
$light-red: #ff5a5f;
$border-color: rgb(230, 230, 230);

body {
  margin: auto 0;
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  transition: 0.5s;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

#app-bar {
  // Make sure AppBar stay at top
  position: fixed;
  top: 0;

  display: grid;
  height: 80px;
  width: 100%;
  background-color: $primary-color;
  grid-template-columns: 300px auto;
  color: whitesmoke;

  #appbar-left {
    padding-left: 15px;
  }

  #appbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;

    h3 {
      padding: 0 15px 0 10px;
    }

    #logout {
      padding: 0 15px;
    }
  }

  img {
    width: 40px;
  }
}

#center {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;

  .products-table {
    display: grid;
    grid-auto-rows: 200px;
    row-gap: 10px;
    padding: 10px;
    width: 85%;
    height: 100%;
    border: solid $border-color;
    border-radius: 10px;
    box-shadow: 0px -1px 45px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px -1px 45px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -1px 45px 1px rgba(0, 0, 0, 0.25);

    .product {
      display: grid;
      grid-template-columns: 200px auto;
      grid-auto-rows: 200px;
      column-gap: 20px;
      border: solid $border-color;
      border-radius: 25px;

      img {
        width: 100%;
        align-self: center;
      }

      .product-desc {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15% 45% 15% 20%;

        .product-name {
          font-weight: bold;
        }

        .product-desc {
        }

        .product-price {
          font-weight: bold;
        }

        button {
          background-color: $light-red;
          color: white;
          border-radius: 5px;
          height: 40px;
          width: 120px;
          font-weight: bold;

          &:hover {
            background-color: white;
            color: black;
            cursor: pointer;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

#cart-footer {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 80% auto;
  width: 100%;
  height: 120px;
  background-color: white;
  box-shadow: 0px -11px 5px -3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px -11px 5px -3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px -11px 5px -3px rgba(0, 0, 0, 0.12);

  button {
    background-color: $light-green;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font-weight: bold;

    &:hover {
      background-color: white;
      cursor: pointer;
      transition: 0.2s;
    }
  }

  .grid-item {
    color: black;
    padding: 10px;
    font-weight: 600;

    .pay-div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}
